#load_env
insmod part_msdos
set default="0"

loadfont unicode
set gfxmode=auto
insmod vbe
insmod vga
insmod video_bochs

insmod gfxterm
terminal_input console
terminal_output gfxterm
set timeout=5


menuentry 'SOS' {
    insmod part_msdos 
    set root='hd0,msdos1'
    multiboot /kernel
    module /initramfs.img
}
